 * {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
ul li {
    padding: 16px;
}
 

.container-fluid {
    flex-wrap: wrap;
}

.mobile {
    display: none;
}